<div style="position: relative; width: 100%; max-width: 100%; margin: 0 auto; padding: 20px; background-image: url(https://www.crushpixel.com/big-static16/preview4/vector-banner-design-illustration-technology-2457374.jpg); background-size: cover; background-position: center; color: #fff; text-align: center;">
    <div style="position: relative; z-index: 1;">
      <h1 style="color:#fff">About Me</h1>

      </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6" style="align-items: center;">
          <b style="text-align:center;font-size:xx-large;font-weight:bold;color:black;">About Me</b>
             <p style="color:black ; font-weight: 600;font-size:medium;">
            
              
                Hello! I'm Shreyas Baranwal, a passionate web developer with a solid background in computer applications. I hold a Master's degree in Computer Applications from Late Bhausaheb Hiray College of Computer Application. To enhance my skills and stay updated with the latest technologies, I completed a comprehensive course in Java Full Stack Development from Edubridge.
                <br><br>
                With a blend of academic knowledge and practical training, I specialize in crafting dynamic and user-friendly web solutions. My expertise lies in front-end development, back-end integration, and database management. I thrive on challenges and am constantly exploring new techniques to deliver innovative and efficient solutions.
                <br><br>
                Let's collaborate to bring your ideas to life and create impactful web experiences together!</p>
        </div>
        <div class="col-md-6">
          <img src="assets/images/Designer.png" class="img-fluid" style="max-width: 500px; height: 500px;margin: 10px;" alt="My Photo">
        </div>
     </div>
   </div>
