<div style="position: relative; width: 100%; max-width: 100%; margin: 0 auto; padding: 20px; background-image: url(https://www.crushpixel.com/big-static16/preview4/vector-banner-design-illustration-technology-2457374.jpg); background-size: cover; background-position: center; color: #fff; text-align: center;">
  <div style="position: relative; z-index: 1;">
      <h1 style="color:#fff">Service</h1>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-4 mb-4">
          <div class="card h-100">
              <img src="assets/images/html_logo.png" class="img-fluid" alt="HTML Logo">
              <h3>HTML</h3>
          </div>
      </div>
      <div class="col-md-4 mb-4">
          <div class="card h-100">
              <img src="assets/images/css_logo.png" class="img-fluid" style="height:100;width:80" alt="CSS Logo">
              <h3>CSS</h3>
          </div>
      </div>
      <div class="col-md-4 mb-4">
          <div class="card h-100">
              <img src="assets/images/angular_logo.png" class="img-fluid" style="height:100;width:80" alt="Angular Logo">
              <h3>Angular</h3>
          </div>
      </div>
      <div class="col-md-4 mb-4">
          <div class="card h-100">
              <img src="assets/images/javascript_logo.png" class="img-fluid" alt="JavaScript Logo">
              <h3>JavaScript</h3>
          </div>
      </div>
      <div class="col-md-4 mb-4">
          <div class="card h-100">
              <img src="assets/images/java_logo.png" class="img-fluid" alt="Java Logo">
              <h3>Java</h3>
          </div>
      </div>
      <div class="col-md-4 mb-4">
          <div class="card h-100">
              <img src="assets/images/springboot_logo.png" class="img-fluid" alt="Spring Boot Logo">
              <h3>Spring Boot</h3>
          </div>
      </div>
      <div class="col-md-4 mb-4">
          <div class="card h-100">
              <img src="assets/images/mysql_logo.png" class="img-fluid" alt="SQL Logo">
              <h3>SQL</h3>
          </div>
      </div>
  </div>
</div>
