<div style="position: relative; width: 100%; max-width: 100%; margin: 0 auto; padding: 20px; background-image: url(https://www.crushpixel.com/big-static16/preview4/vector-banner-design-illustration-technology-2457374.jpg); background-size: cover; background-position: center; color: #fff; text-align: center;">
    <div style="position: relative; z-index: 1;">
      <h1 style="color:#fff">Contact</h1>
      
      </div>
  </div>

  <div class="container mt-5">
    <div class="card">
        <h5 class="card-title text-center">Contact Information</h5>
        <div class="card-body">
            <p><i class="fas fa-user"></i> Name: Shreyas Baranwal</p>
            <p><i class="fas fa-mobile-alt"></i> Mobile Number: +91 8425986125</p>
            <p><i class="fas fa-envelope"></i> Email: shreyasbaranwal6&#64;gmail.com</p>
            <p><i class="fas fa-map-marker-alt"></i> Address: Wadala, Mumbai, Maharashtra, India</p>
            <p><i class="fab fa-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/shreyas-baranwal-99a071171/" target="_blank">Shreyas Baranwal</a></p>
        </div>
    </div>
</div>