<div class="jumbotron jumbotron-fluid" style="background-color: #2c9ACC;">
    <div class="container" align="center">
        
      <h1 class="display-4" style="color:#ffffff; font-size:70px">Shreyas Baranwal</h1>
      <p class="lead" style="font-size: 40px;color:#ffc000;font-weight: bold;">WEB DEVELOPER</p>
       
    </div>
  </div>
  
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <ul class="list-unstyled">
                <li class="media">
                    <span class="icon mr-3"><i class="fas fa-envelope" style="color: #2c9acc; font-size: 2rem;"></i></span>
                    <div class="media-body">
                        <span class="email" style="color:#2c9acc; font-size: 1.5rem; font-weight: 400;">shreyasbaranwal6&#64;gmail.com</span>
                    </div>
                </li>
                <li class="media mt-4">
                    <span class="icon mr-3"><i class="fab fa-linkedin" style="color: #2c9acc; font-size: 2rem;"></i></span>
                    <div class="media-body">
                        <span class="linkedin" style="color:#2c9acc; font-size: 1.5rem; font-weight: 400;"><a href="https://www.linkedin.com/in/shreyas-baranwal-99a071171/">Shreyas Baranwal</a></span>
                    </div>
                </li>
                <li class="media mt-4">
                    <span class="icon mr-3"><i class="fas fa-phone" style="color: #2c9acc; font-size: 2rem;"></i></span>
                    <div class="media-body">
                        <span class="phone" style="color:#2c9acc; font-size: 1.5rem; font-weight: 400;"><a href="#">+91 8425986125</a></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4 mt-4 mt-md-0 text-center">
            <img src="assets/images/myphoto.png" class="img-fluid" style="max-width: 300px; height: auto;" alt="My Photo">
        </div>
    </div>
</div>
    <br>
    <br>

    <div style="position: relative; width: 100%; max-width: 100%; margin: 0 auto; padding: 20px; background-image: url(https://www.crushpixel.com/big-static16/preview4/vector-banner-design-illustration-technology-2457374.jpg); background-size: cover; background-position: center; color: #fff; text-align: center;">
  <div style="position: relative; z-index: 1;">
    <h1 style="color:#fff">About Me</h1>
    <p style="font-size:25px;font-weight:400;font-style:italic">Hello! I'm Shreyas Baranwal, a passionate web developer with a solid background in computer applications. I hold a Master's degree in Computer Applications from Late Bhausaheb Hiray College of Computer Application. To enhance my skills and stay updated with the latest technologies, I completed a comprehensive course in Java Full Stack Development from Edubridge.</p>
  </div>
</div>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="media-body">
                <span class="email" style="color:#2c9acc; font-size: 2rem; font-weight: 400;">-:SKILLS:-</span>
            </div>
            <ul class="list-unstyled">
                <li class="media">
                   
                    
                </li>
                <li class="media">
                    <span class="icon mr-3"><i class="fab fa-html5" style="color: #2c9acc; font-size: 2rem;"></i></span>
                    <div class="media-body">
                        <span class="email" style="color:#2c9acc; font-size: 1.5rem; font-weight: 400;">HTML5</span><br>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star checked" style="color: #2c9ACC;font-size: 1rem;"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </li>
                <li class="media mt-4">
                    <span class="icon mr-3"><i class="fab fa-css3-alt" style="color: #2c9acc; font-size: 2rem;"></i></span>
                    <div class="media-body">
                        <span class="linkedin" style="color:#2c9acc; font-size: 1.5rem; font-weight: 400;"><a href="#">CSS3</a></span><br>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </li>
                <li class="media mt-4">
                    <span class="icon mr-3"><i class="fab fa-angular" style="color: #2c9acc; font-size: 2rem;"></i></span>
                    <div class="media-body">
                        <span class="phone" style="color:#2c9acc; font-size: 1.5rem; font-weight: 400;"><a href="#">ANGULAR</a></span><br>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </li>
                <li class="media mt-4">
                    <span class="icon mr-3"><i class="fab fa-java" style="color: #2c9acc; font-size: 2rem;"></i></span>
                    <div class="media-body">
                        <span class="phone" style="color:#2c9acc; font-size: 1.5rem; font-weight: 400;"><a href="#">JAVA</a></span> <br>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </li>
                <li class="media mt-4">
                    <span class="icon mr-3"><i class="fab fa-js" style="color: #2c9acc; font-size: 2rem;"></i></span>
                    <div class="media-body">
                        <span class="phone" style="color:#2c9acc; font-size: 1.5rem; font-weight: 400;"><a href="#">JAVASCRIPT</a></span><br>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </li>
                <li class="media mt-4">
                    <span class="icon mr-3"><i class="fas fa-leaf" style="color: #2c9acc; font-size: 2rem;"></i></span>
                    <div class="media-body">
                        <span class="phone" style="color:#2c9acc; font-size: 1.5rem; font-weight: 400;"><a href="#">SPRINGBOOT</a></span><br>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </li>
                <li class="media mt-4">
                    <span class="icon mr-3"><i class="fas fa-database" style="color: #2c9acc; font-size: 2rem;"></i></span>
                    <div class="media-body">
                        <span class="phone" style="color:#2c9acc; font-size: 1.5rem; font-weight: 400;"><a href="#">MY-SQL</a></span><br>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star checked" style="color:#2c9acc;font-size: 1rem;"></span>
                        <span class="fa fa-star"style="color:#2c9acc;"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4 mt-4 mt-md-0 text-center">
            <br>
            <br>
            <img src="assets/images/design1.png" class="img-fluid" style="max-width: 400px; height: 550px;" alt="My Photo">
        </div>
    </div>
</div>



<div style="max-width: 600px; margin: 0 auto; padding: 20px;">
    <h2  style="color:#2c9ACC;" center>Education & Course</h2>
    <div style="position: relative; padding-left: 20px; border-left: 2px solid #2c9acc;">
      <div style="position: relative; padding-left: 20px; margin-bottom: 20px;">
        <div style="position: absolute; left: -30px; top: 0; width: 60px; height: 60px; background-color: #2c9acc; color: #fff; text-align: center; line-height: 60px; font-size: 20px; border-radius: 50%;">2023</div>
        <div style="margin-left: 10px;">
          <p style="color: #2c9acc; font-size: 18px; font-weight: bold;">Java Full Stack Course</p>
          <p style="color: #000000;">I had completed Java Full Stack Course from Edubridge at December 2023</p>
        </div>
      </div>

        <div style="position: relative; padding-left: 20px; margin-bottom: 20px;">
          <div style="position: absolute; left: -30px; top: 0; width: 60px; height: 60px; background-color: #2c9acc; color: #fff; text-align: center; line-height: 60px; font-size: 20px; border-radius: 50%;">2023</div>
          <div style="margin-left: 10px;">
            <p style="color: #2c9acc; font-size: 18px; font-weight: bold;">Master Of Computer Applications</p>
            <p style="color: #000000;">I had completed Master of Computer Apllications from Late Bhausaheb Hiray College of Computer Applications, Mumbai at June 2023</p>
          </div>
        </div>
    

      
            <div style="position: relative; padding-left: 20px; margin-bottom: 20px;">
              <div style="position: absolute; left: -30px; top: 0; width: 60px; height: 60px; background-color: #2c9acc; color: #fff; text-align: center; line-height: 60px; font-size: 20px; border-radius: 50%;">2020</div>
              <div style="margin-left: 10px;">
                <p style="color: #2c9acc; font-size: 18px; font-weight: bold;">BSc-It</p>
                <p style="color: #000000;">I had completed BSc-It from Guru Nanak College of Arts, Science & Commerce, Mumbai at September 2020</p>
              </div>
            </div>

            <div style="position: relative; padding-left: 20px; margin-bottom: 20px;">
                <div style="position: absolute; left: -30px; top: 0; width: 60px; height: 60px; background-color: #2c9acc; color: #fff; text-align: center; line-height: 60px; font-size: 20px; border-radius: 50%;">2017</div>
                <div style="margin-left: 10px;">
                  <p style="color: #2c9acc; font-size: 18px; font-weight: bold;">HSC</p>
                  <p style="color: #000000;">I had completed HSC from SOUTH INDIAN WELFARE SOCIETY, Mumbai</p>
                </div>
              </div>

              <div style="position: relative; padding-left: 20px; margin-bottom: 20px;">
                <div style="position: absolute; left: -30px; top: 0; width: 60px; height: 60px; background-color: #2c9acc; color: #fff; text-align: center; line-height: 60px; font-size: 20px; border-radius: 50%;">2015</div>
                <div style="margin-left: 10px;">
                  <p style="color: #2c9acc; font-size: 18px; font-weight: bold;">SSC</p>
                  <p style="color: #000000;">I had completed SSC from SITARAM PRAKASH HIGH SCHOOL, Mumbai</p>
                </div>
              </div>
  
  
      
      <!-- Add more timeline events here if needed -->
      
    </div>
  </div>
  <div style="max-width: 600px; margin: 0 auto; padding: 20px; text-align: center;">
    <a href="assets/images/ShreyasBaranwalResume.pdf" download="ShreyasBaranwalResume.pdf" style="display: inline-block; padding: 10px 20px; background-color: #2c9acc; color: #fff; text-decoration: none; border-radius: 5px;">Download Resume</a>
  </div>

  <div style="text-align:center;font-size:large">
    <h2 style="font-style: italic;color:#2c9ACC">Portfolio</h2>
    
  </div>








    





   

   
    
  

